.button {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    Height: 60px;
    padding: 0px, 32px, 0px, 32px;
    border: 1px solid var(--brand-1);
    outline: none;
    background-color: var(--brand-1);
    color: var(--grey-5);
    }

button:hover {
    background-color: var(--brand-2);
    transition: 0.4s;
    color: var(--brand-3);
    cursor: pointer;
}
    
.header__button {
    background-color: transparent;
    border: 1px solid var(--brand-3);
}

.faq__button {
    width: 241px;
}