/* ------------------------------- Coloque sua estilização aqui ------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

:root {
    --brand-1: #4c6ef5;
    --brand-2: #364FC7;
    --brand-3: #EDF2FF;

    /* Escala de cinza */
    --grey-0: #191C1F;
    --grey-1: #212529;
    --grey-2: #343A40;
    --grey-3: #ADB5BD;
    --grey-4: #CED4DA;
    --grey-5: #F8F9FA;
    --grey-6: #868E96;

}

body {
    font-family: "inter";
    height: 100vh;
}


